
<html>
<body>
  <p>The queryset object:</p>

  {{ mymembers }}
  
  <p>Loop through the items:</p>
  
  <table border='1'>
    <tr>
      <th>ID</th>
      <th>ID</th>
      <th>ID</th>
      <th>ID</th>
      <th>ID</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.full_name }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.password }}</td>
        <td>{{ x.type }}</td>
      </tr>
    {% endfor %}
  </table>
{% if name %}
<h1>Hello {{ name }}</h1>
{% else %}
<h1>Hello World</h1>
{% endif %}
<a href="{% url 'sign_up' %}">Sign up</a>
<a href="{% url 'log' %}">Login</a>

</body>
</html>